:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}
